/* user-defined styles */

.red { color: red; }
.blue { color: blue; }
.green { color: green; }

/*
div.background {
    z-index: 0;
    position: absolute;
    vertical-align: bottom;
    left: 0;
    right: 0;
    top: 0;
    bottom: auto;
    width: 1280px;
    height: 720px;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-width: 0;
}
*/

.slide-content {
    width: 1024px;
    height: 768px;
    padding: 0;
/*    background: black url(fond-devoxxfr.png) no-repeat 0 0; */
}


div.slide-content table td {
    padding: 0.1em 1em 0.1em 1em;
}

div.slide.back {
    background-color: rgba(0, 0, 0, 0);
    font-size: 1.4em;
    padding: 0;
}
div.slide.back div.slide-content {
    padding: 0;
}
div.slide.back h1 {
    display: inline-block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 480px;
    left: 100px;
    padding: 0.2em 0.7em 0.2em 0.7em;
    border-radius: 7px;
}
div.slide.back p {
    margin: 0;
    padding: 0;
    font-size: 0;
}
div.slide.back img {
    margin: 0;
    padding: 0;
    width: 1020px;
    height: 740px;
    border-radius: 10px;
}

.slide.subsection {
    background-color: #064;
}
.slide.subsection .content {
    color: #fff;
    background-color: #064;
    margin: 0;
    padding: 6px 10px 3px 10px;
    border-radius: 0;
}

@media print {
    body.all #slides {
        zoom: 1;
    }
    .all .slide + .slide {
        page-break-before: always;
    }
    .all div.slide {
        border: none;
        margin: 0;
        float: none;
        font-size: 120%;
    }
    div.slide div.content > ul > li {
        list-style: square;
        line-height: 140%;
    }

    .slide.subsection .content {
        color: #0ff;
    }

}

body {
    overflow-y:hidden;
}
#reseaux td {
    padding: 10px;
}
.content .prettyprint {
    font-size: 1.7em;
}